body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

.secondary-container-fluid {
  padding: 2% 5%;
}

/* Sections */

.colored-section {
  background-color: #1c67a9;
  color: #fff;
}

.secondary-colored-section {
  background-color: #f6ae1d;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

/* Title Section */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.secondary-big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #000;
}

#title .container-fluid {
  padding: 3% 10% 7%;
  text-align: left;
  position: relative;
}

/* Keep this as is */
.title-image {
  width: 40%;
  position: absolute;
  right: 4%;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.feature-img {
  color: #f6ae1d;
  margin-bottom: 1rem;
}

.feature-img:hover {
  color: #f6ae1d;
}

/* Laptop Cards Section */

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body .mt-auto {
  margin-top: auto;
}

/* Footer */

#footer {
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.1rem;
}

.social {
  margin: 0% 1%;
}

.social-media {
  padding: 3% 3%;
}

em {
  color: black;
}

/* Responsive Breakpoints */

/* Large Tablets and smaller screens */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .big-heading {
    font-size: 2.5rem;
  }

  .container-fluid {
    padding: 5% 10%;
  }

  /* Stack columns vertically */
  #title .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #title .col-lg-6 {
    max-width: 100%;
  }

  /* Navbar nav items spacing */
  .nav-item {
    padding: 0 10px;
  }
}

/* Mobile phones and smaller */
@media (max-width: 600px) {
  .big-heading {
    font-size: 1.8rem;
  }

  .download-button {
    width: 100%;
    margin: 2rem 0 2rem 0;
  }

  .container-fluid {
    padding: 5% 5%;
  }

  /* Features stacked vertically */
  #features .feature-box {
    padding: 2rem 0;
  }

  /* Laptop cards take full width */
  #laptops .col-lg-4,
  #laptops .col-md-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  /* Card image fluid */
  .card-img-top {
    width: 100%;
    height: auto;
  }

  /* Adjust footer social icons size */
  .social {
    font-size: 1.3rem;
    margin: 0 0.5rem;
  }
}


/* Extra small devices - narrow phones */
@media (max-width: 400px) {
  .big-heading {
    font-size: 1.5rem;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: 1rem;
  }
}

@media (max-width:1028px) {
    #title{
        text-align: center;
    }

    .title-image{
        visibility: hidden;
    }
}

@media (max-width:1628px) {

    .title-image{
        visibility: hidden;
    }
}